<%= form_for(@active_class) do |f| %>
  <% if @active_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@active_class.errors.count, "error") %> prohibited this active_class from being saved:</h2>

      <ul>
      <% @active_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
