<h1>Listing team_lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_lists.each do |team_list| %>
      <tr>
        <td><%= team_list.name %></td>
        <td><%= link_to 'Show', team_list %></td>
        <td><%= link_to 'Edit', edit_team_list_path(team_list) %></td>
        <td><%= link_to 'Destroy', team_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team list', new_team_list_path %>
