<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :TeamList %><br>
    <%= f.text_field :TeamList %>
  </div>
  <div class="field">
    <%= f.label :ActiveClass %><br>
    <%= f.text_field :ActiveClass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
